# Node.js dependencies
node_modules
npm-debug.log
yarn-debug.log
yarn-error.log

# Environment variables
.env
.env.local
.env.development
.env.test
.env.production

# Version control
.git
.gitignore

# IDE files
.idea
.vscode
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db

# Logs
logs
*.log

# Build files
build
dist

# Docker files
Dockerfile
docker-compose.yml
.dockerignore

# Documentation
README.md
DEPLOYMENT.md
LICENSE

# Development files
dev.js
install.js
